@model ExpansesControlSystem.Models.Expans

@{
    ViewBag.Title = "Edit";
}

<head>
    <title>Edit</title>
    <meta charset="utf-8">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<script type="text/javascript">
    function getFile() {
        document.getElementById("upfile").click();
    }
    function sub(obj) {
        var file = obj.value;
        var fileName = file.split("\\");
        document.getElementById("filefield").innerHTML = fileName[fileName.length - 1];
        document.getElementById('filefield').value = fileName[fileName.length - 1];
        document.myForm.submit();
        event.preventDefault();
    }
</script>
<body>
    <div class="form">
        <header class="header"><h3>New Expense</h3></header>

        @using (Html.BeginForm("Edit", "Expenses", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table>
                @using System.Web.Mvc.Html

                <tr>
                    <th class="half"><label>Type</label></th>
                    <th class="right">
                        @Html.DropDownList("TypeCode", (List<SelectListItem>)ViewBag.TypeCode, new { @class = "select input" })

                    </th>
                </tr>
                <tr>
                    <th class="half"><label class="expCreate">Expense Date</label></th>
                    <th class="right">
                        @*<input class="date" type="date" placeholder="dd-mm-yyyy">*@
                        @Html.TextBoxFor(model => model.Date, new { @class = "date input", @type = "date", @placeholder = "dd-mm-yyyy" })
                    </th>
                </tr>

                <tr>
                    <th class="half"></th>
                    <th class="right">

                        @Html.ValidationMessageFor(model => model.Date, "Date/Time field is invalid", new { @class = "validationText" })

                    </th>
                </tr>

                <tr>
                <tr>
                    <th class="half"><label class="expCreate">Currency</label></th>
                    <th class="right">
                        @Html.DropDownList("Currency", null, new { @class = "select input" })
                    </th>
                </tr>
                <tr>
                    <th class="half"><label class="expCreate">Amount</label></th>
                    <th class="right">
                        @Html.TextBoxFor(model => model.Ammount, new { @class = "date input" })

                </th>
            </tr>

            <tr>
                <th class="half"></th>
                <th class="right">

                    @Html.ValidationMessageFor(model => model.Ammount, "Amount field is invalid", new { @class = "validationText" })

                </th>
            </tr>

            <tr>
                <th class="half"><label class="expCreate">Note</label></th>
                <th class="right">@Html.TextAreaFor(model => model.Note, new { @class = "select area input", @rows = "3" })</th>
            </tr>
            <tr>
                <th class="half ">
               <label>File Description</label></th>
                <th class="right">@Html.TextAreaFor(model => model.FileDescription, new { @class = "area", @rows = "1" })</th>
                @Html.HiddenFor(m => m.ExpenseGroupID)
                @Html.Hidden("empName", (string)@ViewBag.EmpName)
                @Html.Hidden("parAcc", (string)@ViewBag.ParAcc)
            </tr>

                <tr>
                    <th class="half">
                    </th>
                    <th>
                        <div>
                            <button class="btn btn-info info" style="height: 30px" type="submit">OK</button>
                            @*@Html.ActionLink("Cancel", "Index", new { groupId = Model.ExpenseGroupID, empName = ViewBag.EmpName, @class ="btn btn-info" })*@
                            <button type="button" style="height: 30px" value="Cancel" class="btn btn-info" onclick="@Url.Action("Index", new { groupId = Model.ExpenseGroupID, empName = ViewBag.EmpName,parAcc=ViewBag.ParAcc, @class ="btn btn-info" })">Cancel</button>
                        </div>
                    </th>
            </table>
        }
    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
