@using ExpansesControlSystem.Models
@model IEnumerable<ExpansesControlSystem.Models.Expans>

@{
    ViewBag.Title = "Index";
}
<head>
    <title>Current Expenses</title>
    <meta charset="utf-8">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/CurrentExpStyle.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<h2>Current Expenses</h2>
<body >

    <div class="formExpenses xtable">
        @if (ViewBag.IsApp == null)
        {
            <button type="button" value="Cancel" class="btn btn-link sbb" onclick=" location.href = '@Url.Action("Index", "Main", new RouteValueDictionary {{"accName", ViewBag.ParAcc}, {"groupId", ViewBag.GroupId}})' "><i class="icon-circle-arrow-left"></i> Cancel</button>
        }
        else
        {
            <button type="button" value="Back" class="btn btn-link sbb" onclick=" location.href = '@Url.Action("Index", "ExpensesGroup", new RouteValueDictionary { { "accName", ViewBag.Emp.Name }, { "parAcc", ViewBag.ParAcc } })' "><i class="icon-circle-arrow-left"></i> Cancel</button>
        }
        @*<table>

                <tr>
                    <th class="half "><label>Name</label></th>
                    <th class="right  ">
                        <label class="labelRight">@ViewBag.Emp.Name</label>
                    </th>

                </tr>
                <tr>
                    <th class="half "><label>ID</label></th>
                    <th class="right "><label class="labelRight">@ViewBag.Emp.ID</label></th>
                </tr>
                <tr class="">
                    <th class="half "><label>Manager</label></th>
                    <th class="right "><label class="labelRight">@ViewBag.Emp.ManagerName</label></th>

                </tr>

                <tr class="">
                    <th class="half "><label>Budget Prefix</label></th>
                    <th class="right "><label class="labelRight"></label></th>

                </tr>

            </table>*@
            

        <div class="xtable">
            <div align="left">
                <table>
                    <tr>
                        <th class="quarter"><label>Name:</label></th>
                        <th class="quarter right">
                            <label class="labelRight">@ViewBag.Emp.Name</label>
                        </th>
                        <th class="quarter"><label>Manager:</label></th>
                        <th class="quarter"><label class="labelRight">@ViewBag.Emp.ManagerName</label></th>
                        <th class="quarter"></th>
                        <th class="quarter"></th>
                    </tr>
                    <tr class="">
                        <th class="quarter"><label>ID:</label></th>
                        <th class="quarter"><label class="labelRight">@ViewBag.Emp.ID</label></th>


                        <th class="quarter"><label>Budget Prefix:</label></th>
                        <th class="quarter"><label class="labelRight">@ViewBag.Emp.BugetPrefix</label></th>

                    </tr>
                    <tr class="">
                        <th class="quarter"><label>Date:</label></th>
                        <th class="quarter"><label class="labelRight">@System.DateTime.Now</label></th>


                        <th class="quarter"><label>Status:</label></th>
                        <th class="quarter">@switch ((int)ViewBag.Status)
                                            {
                                                case (0):
                                                    @: <p>Write</p> 
                                                    break;
                                                case(1):
                                                @: <p>Lock</p> 
                                                    break;
                                                case(2):
                                                @: <p>Manager approve</p>  
                                                    break;
                                                case(3):
                                                @:<p>Finance approve</p>
                                                    break;
                                            }</th>

                    </tr>

                    @*<tr>
                            <th class="half "><label>Date/Time</label></th>
                            <th class="right "><label class="labelRight">???</label></th>

                            <th class="half "><label>Status</label></th>
                            <th class="right "><label class="labelRight">???</label></th>
                        </tr>*@
                    <tr class="free3"> </tr>

                </table>

            </div>



            <p>
                @if (ViewBag.IsApp == null)
                {
                    <a href="@Url.Action("Create", "Expenses", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"empName", ViewBag.Emp.Name}, {"parAcc", ViewBag.ParAcc}})" class="btn btn-primary xleft"><i class="icon-pencil"></i> Add New Line</a>
                    <a href="@Url.Action("SaveGroup", "Main", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"accName", ViewBag.ParAcc}})" class="btn btn-success xlleft"><i class="icon-ok"></i> Save</a>
                }
                else
                {
                    if (ViewBag.Emp.Type == 0)
                    {
                        
                        if (ViewBag.ParType != 0)
                        {
                            if ((int) ViewBag.Status == 0 && (string) ViewBag.Emp.Name != ViewBag.ParAcc)
                            {
                            }
                            else
                            {
                                <a href="@Url.Action("ApproveG", "ExpensesGroup", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"empName", ViewBag.Emp.Name}, {"parAcc", ViewBag.ParAcc}})" class="btn btn-primary xleft"><i class="icon-pencil"></i> Approve</a>
                                <a href="@Url.Action("Reject", "ExpensesGroup", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"empName", ViewBag.Emp.Name}, {"parAcc", ViewBag.ParAcc}})" class="btn btn-success xlleft"><i class="icon-ok"></i> Reject</a>
                            }
                        }
                        else
                        {

                                  <a href="@Url.Action("Create", "Expenses", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"empName", ViewBag.Emp.Name}, {"parAcc", ViewBag.ParAcc}})" class="btn btn-primary xleft"><i class="icon-pencil"></i> Add New Line</a>
                    <a href="@Url.Action("SaveGroup", "Main", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"accName", ViewBag.ParAcc}})" class="btn btn-success xlleft"><i class="icon-ok"></i> Save</a>
                            
                          
                        }
                    }

                    else
                    {
                        <a href="@Url.Action("Create", "Expenses", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"empName", ViewBag.Emp.Name}, {"parAcc", ViewBag.ParAcc}})" class="btn btn-primary xleft"><i class="icon-pencil"></i> Add New Line</a>
                        <a href="@Url.Action("SaveGroup", "Main", new RouteValueDictionary {{"groupId", ViewBag.GroupId}, {"accName", ViewBag.ParAcc}})" class="btn btn-success xlleft"><i class="icon-ok"></i> Save</a>
                    }
                }
            </p> 
            <div style="display: block;  height: 370px; overflow-y: scroll; width: 100% ">
                <table class=" table table-striped ">
                    <tr>
                        <th class=" xt">
                            <p>Type code</p>
                        </th>
                        <th class="xt">
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th class="xt">
                            @Html.DisplayNameFor(model => model.Currency)
                        </th>
                        <th class="xt">
                            @Html.DisplayNameFor(model => model.Ammount)
                        </th>
                        <th class="xt">
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th class="xt">
                            <p>File description</p>
                        </th>
                        <th class="xt">
                            <p>File attached</p>
                        </th>
                        <th class="xt">
                            @*@Html.DisplayNameFor(model => model.Employee.Name)*@
                        </th>
                        <th class="xt"></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TypeCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Currency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ammount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileDescription)
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(item.FilePath))
                                {@Html.Raw("<p>No<p>")}
                                @if (!string.IsNullOrEmpty(item.FilePath))
{
    // @Html.Raw("<p>Yes<p>")
    <a href="../@item.FilePath" style="height: 13px" class="btn "><i class="icon-download-alt"></i> Download</a>
}
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Employee.Name)*@
                            </td>
                            <td>
                                @if (ViewBag.IsApp == null || ViewBag.Emp.Type == 0)
                                {
                                    @Html.ActionLink("Edit", "Edit", new {id = item.ID, groupId = ViewBag.GroupId, empName = ViewBag.Emp.Name, parAcc = ViewBag.ParAcc, @class = "btn btn-info"})<b> | </b>
                                    @Html.ActionLink("Delete", "Delete", new {id = item.ID, groupId = ViewBag.GroupId, empName = ViewBag.Emp.Name, parAcc = ViewBag.ParAcc, @class = "btn btn-info"});
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>

        </div>
    </div>
</body>

